fastapi
uvicorn
python-multipart
celery
redis
psycopg2-binary
asyncpg
sqlalchemy
llama-index
llama-index-vector-stores-postgres
llama-index-embeddings-huggingface
llama-index-llms-ollama
llama-index-postprocessor-sbert-rerank
torch
sentence-transformers
pymupdf
pytesseract
unstructured[all-docs]
python-dotenv
pydantic-settings
httpx
requests
aiofiles
